<div class="center hero-unit">
  <h1>Welcome to Quick Mover</h1>

  <h2>
    Find your shipping buddy!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("Movers.png", alt: "Rails"), 'http://rubyonrails.org/' %>

